:root {
  /* Variáveis de cores! Ao invés de copiar o rgb todas as vezes que for necessária utilizar, você só precisa chamar por: elementinho {
  background-color: var(--verde-medio[nome da variável de cor]);
} */
  --verde-claro: #07DA76;
  --verde-medio: #008D4A;
  --verde-escuro: #083D2A;
  --amarelo: #FFD11B;
  --cinza: #3B3934;
  --preto: #0D0D0D;

}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;

}

body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

}

section {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 1/-1;

}

section nav {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  position: fixed;

}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;

}

nav ul li {
  list-style-type: none;
  font-size: 30px;
  padding: 0px 20px;

}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 0.3rem 1.25rem;
  white-space: nowrap;

}

#section_apresentacao {
  background: url(../Imagens/bg1.png) no-repeat center center / cover;
  width: 100%;
  height: 100vh;

}

#centro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  width: 100%;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.btns-selecao {
  border: 3px solid white;
  border-radius: 8px;

}

h1 {
  font-size: 6.875rem;
  color: white;

}

.cor_safe {
  color: var(--verde-claro);

}

.cor_amarela {
  color: var(--amarelo);
  font-size: 4.5rem;

}

#centro p {
  font-size: 2.125rem;
  color: white;

}

.sections_divisoes {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: 1fr;
  padding: 3rem 2rem;

}

#section_solucoes {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--verde-medio);
  color: white;

}

#section_solucoes,
#section_relatorios {
  font-size: 2.1rem;
  padding: 6rem 0;
}

#section_relatorios {
  background-color: white;
  color: var(--preto);
  display: grid;
  grid-template-columns: 1fr;

}

#section_proposito {
  background-size: cover;
  display: grid;
  grid-template-columns: auto;
  background: url(../Imagens/rodovia.png) no-repeat center center / cover;
  width: 100%;
  height: 100vh;
  font-size: 2.1rem;
  color: #ffffff;

}

.proposito {
  width: 100%;
  height: 100vh;
  align-items: flex-start;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: start;
  gap: 5rem;

}

#section_contato {
  background-color: var(--cinza);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1 / -1;
  align-items: center;
  padding: 7rem 0;

}

#section_contato h2 {
  font-size: 3.7rem;
  color: white;
  padding: 3rem 0;
  text-align: center;

}

#section_contato form {
  font-size: 1.8rem;
  display: grid;
  grid-template-columns: auto;
  gap: 1.5rem;
  color: white;
  grid-column-end: 10;
}

#section_contato form input {
  height: 3.7rem;

}

#section_valores {
  background-color: white;
  text-align: center;
  padding: 4rem 2rem;
  display: grid;
  grid-template-columns: auto;
  color: var(--preto);
  font-size: 2.5rem;

}

#section_divisoes {
  display: flex;
  justify-content: center;
  align-items: center;
}

#section_informacoes {
  font-size: 3rem;
  font-weight: 600;
  padding: 8.6rem 0;

}

#span_light {
  font-size: 2.5rem;
  font-weight: 300;

}

.card {
  font-size: 1.8rem;
  min-width: 20rem;
  min-height: auto;
  padding: 0 2rem;

}

.cards_principios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;

}

.cards_principios .card {
  background-color: var(--verde-escuro);
  color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  text-align: center;

}

.cards_principios .card img {
  width: 50px;
  margin-bottom: 1rem;

}

#card_colaboracao {
  background-color: var(--verde-medio);
}

#btn_contato,
.btn_enviar {
  background-color: var(--amarelo);
  color: var(--preto);
  padding: 1rem 3.5rem;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 1.8rem;
  cursor: pointer;
  text-align: center;
  text-decoration-line: none;

}

/* FOOTER */

footer {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  background-color: var(--verde-escuro);
  color: white;
  padding: 2rem;
  gap: 2rem;

}

#footer-logo {
  max-width: 100%;

}

#footer_nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 2rem;

}

footer a {
  text-decoration-line: none;
  color: white;
  font-size: 1.875rem;

}

#footer_contatos p,
#footer_contatos a {
  font-size: 1rem;
  padding: 0.2rem 0;

}

#footer_contatos h3 {
  font-size: 2rem;

}

#footer_contatos {
  padding: 1rem 2.5rem;

}