@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    font-family: "Inter", sans-serif;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

:root {
    --Amarelo: #FFD11B;
    --Verde-Escuro: #083D2A;
    --Verde-claro: #07DA76;
    --Marrom: #3B3934;
}

body {
    background-image: url(../Imagens/fundo\ login.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}



.div_login {

    background-color: rgba(0, 0, 0, 0.6);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    text-align: center;
    width: 350px;
}

.logo_login {
    color: white;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.cor_safe {
    color: var(--Verde-claro);
}

.text_login {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 1.5rem;
}

.div_input_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.text_input {
    font-size: 1rem;
    align-self: flex-start;
    margin-left: 1rem;
}

.input_login {
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    width: 100%;
    height: 2.5rem;
    padding: 0 1rem;
    color: white;
    font-size: 0.8rem;
    outline: none;
}

.input_login::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.input_login:hover {
    border: 2px solid var(--Verde-claro);
}

button {
    margin-top: 1rem;
    width: 100%;
    height: 2.5rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--Verde-claro);
    color: black;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #05b85f;
}

.conta {
    font-size: 0.7rem;
    cursor: pointer;
}

.conta:hover {
    color: var(--Verde-claro);
}



.btn_voltar {
    position: absolute;
    top: 20px;
    right: 20px; 
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid  white;
    color:  white;
    font-size: 0.9rem;
    padding: 0.5rem 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}
 
.btn_voltar:hover {
       background-color: rgba(0, 0, 0, 0.219); 
}